main {
  max-width: 1000px;
  margin: auto;
}

.content-container {
  text-align: center;
}

/*
 * PairForm
 */

.pair-form {
  padding: 10px;
}

/*
 * PairHistory and Items
 */

.pair-history {
  padding: 10px;
  max-height: 700px;
  overflow-y: scroll;
}

.pair-item {
  padding: 10px;
  border-top-style: solid;
  border-bottom-style:solid;
  border-width: thin;
  border-color: gainsboro;
  cursor: pointer;
}

.pair-item:hover {
  background-color: whitesmoke;
}
